.container {
  display: flex;
}

.loop {
  --time: 1s;
  display: grid;
}

/* show animation only if user hasn't set a preference,
  otherwise just show stacked images */
@media (prefers-reduced-motion: no-preference) {
 .loop img {   
   grid-area: 1/1;
   animation: fade calc(var(--time) * 3) linear 0s infinite;
 }
  
 .loop img:nth-child(2) { animation-delay: calc(var(--time) * -2); }
 .loop img:nth-child(3) { animation-delay: calc(var(--time) * -1); }
}

@keyframes fade {
  0% { opacity: 1; }
  25% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

.green-tree {
  padding: 5px;
}

.red-tree {
padding: 10px;
}

.purple-tree {
  padding-bottom: 20px;
}


.get-started-btn {
    background-color: #B8FD88; /* Green */
    border: none;
    color: #1C5240;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}