.top {
  position: fixed;
  color: white;
  text-decoration: none;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.link-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

a {
  color: inherit;
  margin-right: 5px;
  text-decoration: none;
}

a:hover {
 text-decoration: underline ;
}
