.top {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 100px;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.app-title {
  display: flex;
  padding-left: 10px;
}

.link-nav {
  display: flex;
}

a {
  color: inherit;
  margin-right: 5px;
  text-decoration: none;
}

a:hover {
 text-decoration: underline ;
}
