.top {
  position: sticky;
  top: 0px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.app-title {
  display: flex;
  padding-left: 10px;
}

.link-nav {
  display: flex;
}

.home,
.rules,
.create,
.contact {
  margin-right: 5px;
  :hover {
    text-decoration: underline;
    font-weight: 200;
  }
}
