html {
  background-color: #1C5240;
  height: 100%
}

p,
h4,
h2,
li {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.text-box{
  padding-top: 100px;
  padding-left: 35px;
}

.loop {
  --time: 1s;
  display: grid;
}

/* show animation only if user hasn't set a preference,
  otherwise just show stacked images */
@media (prefers-reduced-motion: no-preference) {
 .loop img {   
   grid-area: 1/1;
   animation: fade calc(var(--time) * 3) linear 0s infinite;
 }
  
 .loop img:nth-child(2) { animation-delay: calc(var(--time) * -2); }
 .loop img:nth-child(3) { animation-delay: calc(var(--time) * -1); }
}

@keyframes fade {
  0% { opacity: 1; }
  25% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

.green-tree {
  padding: 5px;
}

.red-tree {
padding: 25px;
}

.purple-tree {
  padding: 45px;
}