html {
  background-color: #1C5240;
  height: 100%
}

p,
h4,
h2,
li {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.text-box{
  padding-top: 100px;
  padding-left: 35px;
}

.img {
  display: flex;
  align-items: center;
  padding-right: 150px;
}
